@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ButtonInfo

<h1>Customer Infomation</h1>
<h2>First Name: @Model.FirstName</h2>
<h2>Last Name: @Model.LastName</h2>
<h2>Address: @Model.Address</h2>
<h2>State: @Model.State</h2>
<h2>Country: @Model.Country</h2>

